/* navbar style custom bootstap */

.navbar-brand {
    margin-left: 10%;
}

.navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav li {
    margin: 25px;
    font-size: 18px;
    font-family: sans-serif;

    
}

.images-navbar li{
    display: flex;
}

.navbar-image-custom{
    margin-left: 20px;
    margin-right: 20%;
}


/* end navbar style */


